<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width"/>
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
</head>
<style>
    body{
      background-color: #eee;
    }
    header{
      margin-top:200px;
      background: linear-gradient(to right,#ff7b10, #efc210);
      color:white;
      padding:5px 10px;
    }
    ul{
      margin-bottom:80px;
    }
    li{
      padding:10px;
      background: white;
      margin-bottom:10px;
      border-bottom:2px solid #ccc;

    }
    li img{
      width:100%;

    }
    li .title{
      line-height: 1.5;
      font-size:16px;
      margin-bottom:5px;
    }
    li .content{
      font-size:14px;
    }
    li .date{
      font-size:12px;
      text-align: right;
    }
    [v-cloak] {
  display: none;
}
header img {
  width:25px;
  transform: rotate(180deg);
  float: right
}
header .rot{
  transform: rotate(270deg);

}
.more{
  margin-bottom:10px;
}
.more ul{
  text-align: center;
  margin: 0;
  background: white;
  padding: 0;
}
.more ul li{
  display: inline-block;
  width:15%;
  text-align: center;
  border-bottom:none;
  margin:0;
  font-size:12px;
}
</style>
<body >
  <div id="app" v-cloak>
  <div></div>
  <header @click="more()"><span>热门推荐</span><img v-bind:class="{rot:show}"  src="../image/return.png" alt=""></header>
  <div class="more" v-if="show">
    <ul>
      <li v-for="item in cateory" @click="sel(item.category)">{{item.category}}</li>
    </ul>
  </div>
  <ul>
    <li  v-for="item in list" @click="inner(item.title,item.text,item.info,item.imgUrl)" >
    <p class="title" >{{item.title}}</p>
    <div class="thumb">
      <img v-bind:src="item.imgUrl"/>
    </div>
    <p class="content">{{item.text.substring(0,100)}}</p>
    <p class="date">{{item.textInfo}}</p>
    </li>
  </ul>
  </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript">
    apiready = function(){
      var loadingLabel = api.require('loadingLabel');
      var app = new Vue({
          el: '#app',
          data: {
            list: [],
            cateory:[],
            show:false,
            typeParams:"",
          },
          created:function(){
            var that=this
            that.typeParams="Information"
      api.ajax({
          url: 'https://mock.kuaiyunma.com/mock/59af98f0fdd5ac0c4f4afe9b/example/category#!method=get',
          method: 'get',

      },function(ret, err){
          if (ret) {
              that.cateory=ret

          }
      });

      api.setCustomRefreshHeaderInfo({
          bgColor: '#eee',
          tips: {
              pull: '下拉刷新',
              threshold: '松开立即刷新',
              load: '正在刷新'
          }
      }, function() {

                  api.ajax({
                  url: 'https://mock.kuaiyunma.com/mock/59af98f0fdd5ac0c4f4afe9b/example/'+that.typeParams+'#!method=get',
                  method: 'get',
                  async: false,
                  report:true,
              },function(ret, err){
                that.list=[]
                      that.list=ret
                      api.refreshHeaderLoadDone()
              });
      });
      var UILoading = api.require('UILoading');
        UILoading.keyFrame({
          rect: {
              w: 80,
              h: 100
          },
          styles: {
              bg: 'rgba(0,0,0,0.5)',
              corner: 5,
              interval: 50,
              frame: {
                  w: 80,
                  h: 80
              }
          }
      });
            api.ajax({
                url: 'https://mock.kuaiyunma.com/mock/59af98f0fdd5ac0c4f4afe9b/example/Information#!method=get',
                method: 'get',
                async: false,
                report:true,
            },function(ret, err){
              that.list=ret
                UILoading.closeKeyFrame ()
            });

          },
          methods:{
            inner:function(title,text,info,imgUrl){
                api.openWin({
                    name: 'content',
                    url: '../html/content.html',
                    pageParam: {
                        title: title,
                        text:text,
                        info:info,
                        imgUrl:imgUrl
                    }
                });

            },
            more:function(){
                this.show=!this.show;
            },
            sel:function(name){
              seltitle=$api.dom('header span')
              $api.text(seltitle,name)
              var UILoading = api.require('UILoading');
                UILoading.keyFrame({
                  rect: {
                      w: 80,
                      h: 100
                  },
                  styles: {
                      bg: 'rgba(0,0,0,0.5)',
                      corner: 5,
                      interval: 50,
                      frame: {
                          w: 80,
                          h: 80
                      }
                  }
              });
              var that=this;
              that.list=[]
              switch (name)
          {
            case "文化":
              typeParams="culture"
              break;
            case "讯息":
              typeParams="Information"
              break;
            case "投资":
              typeParams="invest"
              break;
            case "商户":
              typeParams="merchant"
              break;
            case "学习":
              typeParams="study"
              break;
            case "食材":
              typeParams="metial"
              break;
            case "人物":
              typeParams="person"
              break;
            case "专题":
              typeParams="special"
              break;
            }
            that.typeParams=typeParams
            api.ajax({
                url: 'https://mock.kuaiyunma.com/mock/59af98f0fdd5ac0c4f4afe9b/example/'+typeParams+'#!method=get',
                method: 'get',

            },function(ret, err){
                if (ret) {

                  that.list=ret
                    UILoading.closeKeyFrame();

                }
            });


            }
          }
        })


      var UIScrollPicture = api.require('UIScrollPicture');
      UIScrollPicture.open({
        customRefreshHeader: 'UIPullRefreshMotive',
          rect: {
              x: 0,
              y: 0,
              w: api.winWidth,
              h: 200
          },
          data: {
              paths: [
                  'widget://image/food3.jpeg',
                  'widget://image/food3.jpeg',
                  'widget://image/food3.jpeg',
              ],

          },
          styles: {
              caption: {
                  height: 35,
                  color: '#E0FFFF',
                  size: 13,
                  bgColor: '#696969',
                  position: 'bottom'
              },
              indicator: {
                  align: 'center',
                  color: '#FFFFFF',
                  activeColor: '#DA70D6'
              }
          },
          placeholderImg: 'widget://res/slide1.jpg',
          contentMode: 'scaleToFill',
          interval: 3,
          fixedOn: api.frameName,
          loop: true,
          fixed: false
      }, function(ret, err) {

      });
    };
</script>
</html>
